// Utils
@import './utils/variables';
@import './utils/functions';

// Base
@import './base/base';
@import './base/fonts';

// Layouts
@import './layouts/upper-nav';
@import './layouts/side-nav';
@import './layouts/page';

// Components
@import './components/tooltip';
@import './components/charts';
@import './components/nutritional';

// Pages
@import './pages/404';
@import './pages/profil';
@import './pages/dashboard';