* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text-font;
    font-size: $desktop-text-size;
    font-weight: $reg-text-weight;
    color: $x-dark-grey;
}

.app-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}