// Variables de couleurs

$white : white;
$black : black;

$light-grey: #F6F6F6;
$grey: #E3E3E3;

$primary-color: #ff6060;

// Polices de caractères

$text-font: 'Montserrat', Arial, Helvetica, sans-serif;

// Graisses des polices

$reg-text-weight: 500;

// Tailles de caractères

$desktop-text-size : 18px;
$mobile-text-size : 15px;

$normal-text-size : 1em;
$x-large-text-size : em-calc(40);
$large-text-size : em-calc(28);
$medium-text-size : 1.1em;
$small-text-size : em-calc(16);
$x-small-text-size : em-calc(13);
